:root{
  --Primary: #21252b;
  --Secondary: #333842;
  --Tertiary: #528bff;
  --quaternary:#778899;
}
.DarkScheme{
  --Primary: #FFFFFF;
  --Secondary: #CEE7E6;
  --Tertiary: #528bff;
  --quaternary:#778899;
}


body{    
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;    
  background-color: var(--Primary);
  color: var(--quaternary);
  font-family: 'Prompt', sans-serif;     
}

h1 {
  font-size: 48px; /* 14px */
  padding-top: 2rem;
  margin: 0;    
  font-variant: small-caps;
}

h2{
  font-size: 21px; /* 14px */
  /* text-align: calc(100% - 30%); */
  left: 30%;
  margin: 0;
  padding: 0;
}

.main{
  margin-top: 3rem;    
  width: calc(100% - 70%);
}

.title{
  margin: 3rem;
}

.LoginContainer{
  position: relative;
  margin-top: 15%;
  padding-top: 1rem;
  border-radius: .5rem;
  border-color:  var(--Secondary);
  border-style: solid;
  background-color: var(--Secondary);
}

.centre{
  display: flex;
  justify-content: center;
  align-items: center;
}

.pageSeperator{
  background-color: var(--quaternary);
  margin: auto;
  text-align: center;
  border-radius: 20px;
  height: 3px;
  width: calc(100% - 30%);
  margin-bottom: 1rem;
}

.input{
  
  height: 3rem;
  width: calc(100% - 30%);
  margin: 1rem;
  padding: 0;
  background-color: transparent;    
  border-radius: .5rem;
  border-style: none;
  color: var(--quaternary);
  font-size: 21px;
  outline: none;
  cursor: pointer;
}

::placeholder {
  
  color: var(--quaternary);
  opacity: 1;
  width: 100%;
}

.SubmitButton{   
  text-align: center;    
  margin-top: 3rem;
  margin-bottom: 3rem; 
  background-color: #528bff;
  text-decoration: none;
  color: white;
  transition: transform .2s;
}

.SubmitButton:hover{
transform: scale(1.2);  
}

.StyleToggleContainer{
  position: fixed;
  bottom: 15px;
  left:15px
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .2s;
  transition: .2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
}

input:checked + .slider {
  background-color: #528bff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #528bff;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.test{
color: white;
}

